*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
}
img{
    width: 100%;
}

/* UTILITY */
.d-flex{
    display: flex;
}

/* HEADER */

header{
    height: 50px;
    justify-content: flex-end;
    align-items: flex-start;
}
header div{
    /* debug */
    background-color: red;
}

header .btn{
    background-color: #4A4A4A;
    line-height: center;
    padding: 10px 10px;
    margin: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
}

header .btn a{
    text-decoration: none;
    color: white;
    text-align: center;
}

header .btn span{
    padding-left: 5px;
}

/* MAIN */

main{
    height: calc(100vh - 130px);
    overflow: auto;
    width: calc(100% - 20px);
    margin: 10px auto;
    flex-wrap: wrap;
    justify-content: center;
}
.web-box{
    padding-right: 10px;
    position: relative;
    display: inline-block;
}

.web-box .name{
    position: absolute;
    bottom: 10px;
    left: 0px;
    background-color: rgba(0, 0, 0, .5);
} 
.name h4{
    font-size: .8em;
    padding: 2px 5px;
}
.name i{
    padding-left: 3px;
}

/* FOOTER */

footer{
    height: 80px;
    background-color: #222222;
    justify-content: space-between;
    align-items: center;
}

footer span{
    display: block;
    text-align: center;
}

.footer-left{
    position: relative;
}

.footer-left i{
    display: block;
    vertical-align: middle;
}